.vscode/*
!.vscode/commandbar.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.code-workspace
*.sav
*.pak
*.hxml
bin/*.zip
bin/gamejolt
bin/hl
bin/itch
bin/js/*
!bin/js/avatar.png
!bin/js/index.php
!bin/js/style.css
bin/newgrounds
promo/*
res/.tmp
res/music/export*
res/music/unused
res/bitwigProjects/*/auto-backups/
saves/*
src/integration
src/integration/Secret.hx
tools/profiler.hl
tools/hlprofile.dump
tools/profile.json
token.txt